/* landing */

#intro {
  display: flex;
  margin-top: 20px;
  margin-left: 60px;
  margin-right: 60px;
  height: 100vh;
}

#intro_svg svg {
  height: 23em;
  margin-right: 2em;
} 

#intro_text {
  margin-top: 10px;
}

#intro_text h1 {
  font-size: 80px;
  font-weight: bold;
  color: #76A5C4;
  margin-top: 7%;
  margin-bottom: 2%;
}

#intro_text p {
  font-size: 17px;
  font-weight: 400;
  color: #E6E6E6;
  margin-top: 18px;
  padding-right: 15%;
  line-height: 1.3em;
}

#container_inicio_quiz {
  width: 300px;
  height: 47px;
  display: flex;
  justify-content: center;
  background-color: #76A5C4;
  border-radius: 30px;
  align-items: center;
  margin-top: 20px;
  transition: background-color 0.3s ease;
}

#inicio_quiz {
  font-weight: 400;
  font-size: 18px;
  color: #1E1C1C;
  margin-right: 10px;
}

#container_inicio_quiz:hover {
  background-color: #8eb3ce; 
}

#intro_text h3 {
  font-size: 16px;
  font-weight: 600;
  color: #1E1C1C;
}

/* references */

#reference_section {
  height: 200vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#reference_section h2 {
  font-size: 50px;
  color: #76A5C4;
  margin-bottom: 1px;
}

#reference_section p {
  font-size: 18px;
  max-width: 768px;
  text-align: center;
}

#explain_text {
  margin-bottom: 40px;
}

.references_type h3 {
  text-align: center;
  margin-bottom: 50px;
  color: #76A5C4;
  font-size: 35px;
}

.references_example {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  margin-bottom: 70px;
}

.references_example div {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#reference_section h5 {
  font-size: 20px;
  font-weight: 400;
  max-width: 758px;
  text-align: center;
}

#izq,
#mid {
  margin-right: 79px;
}

/* botón next */

.next_button {
  font-size: 16px;
  color: #1E1C1C;
}

#container_next {
  width: 35px;
  height: 35px;
  display: flex;
  justify-content: center;
  background-color: #555;
  border-radius: 30px;
  align-items: center;
  margin-top: 0px;
  transition: background-color 0.4s ease;
  margin-left: 1100px;
}

/* founders */

.founders {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 90vh;
  justify-content: center;
}

.founders h2 {
  font-size: 50px;
  color: #76A5C4;
  margin-bottom: 1px;
  margin-top: 100px;
}

.integrantes {
  display: flex;
  margin: 0 auto;
  gap: 70px;
}

.founders p {
  max-width: 727px;
  text-align: center;
  font-size: 18px;
  margin-bottom: 40px;
}

.integrantes div {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.integrantes h4 {
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 0px;
}

.integrantes p {
  font-size: 18px;
  font-weight: 300;
  margin-top: 10px;
}

/* estas_listo */

.estas_listo {
  height: 90vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 0px;
  margin-bottom: 30px;
}

.estas_listo h2 {
  font-size: 40px;
  font-weight: 700;
  color: #76A5C4;
}

#inicio_quiz {
  font-weight: 600;
  color: #1E1C1C;
}
/*
.intro__dek {
  color: #8a8a8a;
}

#outro {  
  max-width: 40rem;
  margin: auto;

  margin-bottom: 320px;
  margin-top: 320px;
  height: 640px;
}

@media (min-width: 840px) {
  .nav__examples {
    margin-top: 0;
    margin-left: 2rem;
  }
}

#scrolly {
  position: relative;
  /* background-color: #f3f3f3; 
  padding: 1rem;
}

#scrolly svg  {
  display: block;
  margin: auto;
}

article {
  position: relative;
  padding: 0;
  max-width: 20rem;
  margin: 0 auto;
}

figure {
  position: -webkit-sticky;
  position: sticky;
  left: 0;
  width: 100%;
  margin: 0;
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  background-color: #8a8a8a;
  z-index: 0;
  height: 100vh;
  top: 0;
}

figure p {
  text-align: center;
  padding: 1rem;
  position: absolute;
  top: 50%;
  left: 50%;
  -moz-transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  font-size: 8rem;
  font-weight: 900;
  color: #fff;
}

.step {
  margin: 0 auto 2rem auto;
  color: #fff;
  background-color: rgba(0, 0, 0, 0.1);
  height: 100vh;
}

.step:last-child {
  margin-bottom: 0;
}

.step.is-active p {
  background-color: goldenrod;
  color: #3b3b3b;
}

.step p {
  text-align: center;
  padding: 1rem;
  font-size: 1.5rem;
  background-color: #3b3b3b;
}

/* Plot 
g[aria-label="text"] text {
  font-weight: bold;
  font-size: 9px;
  text-shadow: -2px -2px 0px whitesmoke, -2px -1px 0px whitesmoke, -2px 0px 0px whitesmoke, -2px 1px 0px whitesmoke, -2px 2px 0px whitesmoke, -1px -2px 0px whitesmoke, -1px -1px 0px whitesmoke, -1px 0px 0px whitesmoke, -1px 1px 0px whitesmoke, -1px 2px 0px whitesmoke, 0px -2px 0px whitesmoke, 0px -1px 0px whitesmoke, 0px 1px 0px whitesmoke, 0px 2px 0px whitesmoke, 1px -2px 0px whitesmoke, 1px -1px 0px whitesmoke, 1px 0px 0px whitesmoke, 1px 1px 0px whitesmoke, 1px 2px 0px whitesmoke, 2px -2px 0px whitesmoke, 2px -1px 0px whitesmoke, 2px 0px 0px whitesmoke, 2px 1px 0px whitesmoke, 2px 2px 0px whitesmoke;
}

*/