/* Quiz */

.opciones {
  display: flex;
  justify-content: center;
}

.opciones svg:hover {
  box-shadow: 0 0 5px rgba(214, 209, 209, 0.3);
}

.opciones svg:active {
  box-shadow: 0 0 8px rgba(87, 197, 54, 0.5);
}

.preguntas {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 90vh;
  justify-content: flex-start;
}

.preguntas h2 {
  font-size: 100px;
  margin: 0;
  margin-top: 70px;
}

#pregunta_1 h2 {
  margin-top: -20px !important; 
}

#pregunta_1 h3,
#pregunta_3 h3,
#pregunta_5 h3,
#pregunta_7 h3,
#pregunta_9 h3 {
  width: 676px;
}

#pregunta_2 h3,
#pregunta_4 h3,
#pregunta_6 h3,
#pregunta_8 h3,
#pregunta_10 h3 {
  width: 844px;
}

.preguntas h3 {
  font-size: 50px;
  color: #76A5C4;
  margin-bottom: 40px;
  margin-top: 10px;
  text-align: center;
}

#izq,
#mid {
  margin-right: 100px;
}

#pregunta_10 {
  margin-bottom: 60px;
}

/* loading spinner */

#loading-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.75); /* Semi-transparent black overlay */
  z-index: 9999; /* Make sure the overlay appears on top of other content */
  display: none;
  justify-content: center;
  align-items: center;
}

.loading-spinner {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  border: 5px solid #76A5C4;
  border-top-color: rgba(0, 0, 0, 0.75);
  animation: spinner 1.5s linear infinite;
}

@keyframes spinner {
  to {
    transform: rotate(360deg);
  }
}
