.results {
  margin-top: -15px !important;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 60px;
  height: 90vh;
}

.integrantes_results {
  display: flex;
}

.result_int {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.results h2 {
  font-size: 50px;
  color: #76A5C4;
}

.percentage {
  color: #76A5C4;
  font-size: 70px;
  margin-top: 4px;
  margin-bottom: -50px;
}

.result_int h4 {
  font-weight: 500; 
  font-size: 35px;
  color: #E6E6E6;
  margin-bottom: 30px;
}

#Gaston {
  margin-right: 219px;
}

#Valen {
  margin-right: 219px;
}

.explicit_sec {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 90vh;
  margin-top: 50px
}

.explicit_sec h2 {
  font-size: 50px;
  color: #76A5C4;
  margin-bottom: 5px;
}

.explicit_sec p {
  font-size: 18px;
  font-weight: 300;
  width: 720px;
  text-align: center;
  margin-bottom: 0px;
}

.explicit_sec h3 {
  font-weight: 700;
  font-size: 60px;
  line-height: 85px;
  color: #76A5C4;
  margin-bottom: -60px;
  text-align: center;
}

.explicit_sec h5 {
  font-weight: 600;
  font-size: 30px;
  margin-bottom: px;
  text-align: center;
}

.chart_section {
  display: flex;
}

.title_chart_1 {
  margin-top: 10px;
}

.title_chart_2 {
  margin-top: 60px;
}

#boton_ver_analisis {
  margin-top: 40px;
}

.gracias {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 50px
}

.gracias h2 {
  font-size: 70px;
  color: #76A5C4;
  margin-bottom: 25px;
}

.gracias p {
  margin: 3px;
  font-size: 18px;
}

.porcentajes_div {
  margin-top: 20px;
}
